<div th:fragment="DivDocPanel">
    <div class="documentPanel" style="margin-top:17px; margin-bottom:15px; border-bottom: 1px solid;">
        <div style="text-align: center;">
            <div class="panel" style="margin-left: 50px;">
                <a class="dpLink" href="/DCM/documents" style="color: black;">All documents</a>
                <a class="dpLink" href="/DCM/documents/new" style="color: black;">Create document</a>
                <!--<form class="formSearch" method="" action="" style="float: right;">
                    <input type="search" name="search" class="sInput" placeholder="">
                    <button class="" type="submit">Search</button>
                </form>-->
            </div>
        </div>
        <br>
    </div>
</div>