<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DCM</title>
    <link rel="stylesheet" th:href="@{/css/documentCSS.css}">
    <link rel="stylesheet" th:href="@{/css/allDocumentsCSS.css}">

</head>
<body>

<header th:insert="header :: headerB"></header>

<div th:insert="docPanel :: DivDocPanel"></div>

<div>
    <center>
        <div th:each="doc : ${documents}">
            <p class="q" th:text="'Document name: ' + ${doc.getName()}"></p>
            <p class="w" th:text="'Document author: ' + ${doc.getAuthor_document().getLogin()}"></p>
            <p class="e" th:text="'Current version of the document: ' + ${doc.getCurrentVersion()}"></p>
            <p class="r" th:text="'Outdated version of the document: ' + ${doc.getPrevious_versions_document}"></p>
            <hr>
        </div>
    </center>
</div>

</body>
</html>