<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DCM</title>
    <link rel="stylesheet" th:href="@{/css/mainCSS.css}"/>
</head>
<body>

    <header th:insert="header :: headerB"></header>

<div class="textField">
    <div style="text-align: center;">
                <pre>












        Требования к курсовой работе:
        Система должна обеспечивать базовые функции систем контроля версий
        для документов офисных форматов (документов MS Word, OpenOffice,
        таблиц MS Excel, OpenOffice, другие по желанию).В центральном каталоге
        должен хранится уникальный идентификатор документа, записываемый также
        в его метаданные, автор, текущая версия и все предшествующие версии.
        Система должна обеспечивать доступ к любой версии любого документа.

        Система контроля доступа — по желанию исполнителя.













                </pre>
    </div>
</div>

    <footer th:insert="footer :: footerB"></footer>

</body>
</html>