<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DCM</title>
    <link rel="stylesheet" th:href="@{/css/mainCSS.css}"/>
</head>
<body>

    <header th:insert="header :: headerB"></header>

<div class="textField">
    <div style="text-align: center;">
                <pre>














                 Workers:
                 Chief engineer: Sidorov Eduard Sergeevich
                 Tasks: Everything
                 Programming languages: Java, CSS, HTML










                </pre>
    </div>
</div>

    <footer th:insert="footer :: footerB"></footer>

</body>
</html>